<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FPTJobMatch | FPTJobMatch</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- Notifications Dropdown Menu -->

                <li>
                    <ul class="content-end">
                        <partial name="_LoginPartial" />
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <link rel="stylesheet" href="~/css/site.css" />

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="home" class="brand-link">
                <img src="~/dist/img/logo.jpg" alt="FPT JOBMATCH" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">FPT JOB MATCH</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">TA MINH THE</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <li class="nav-item">
                        <a href="Home" class="nav-link">
                            <p style="font-size: 17px; font-weight: bold;">
                                <span style="display: flex; align-items: center;">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span style="margin-left: 10px;">H O M E</span>
                                </span>
                            </p>
                        </a>

                        <a href="#" class="nav-link">
                            <p style="font-size: 17px; font-weight: bold;">
                                AUTHENTICATOR
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Identity/Account/login" class="nav-link">
                                    <span><i class="fa fa-user-circle-o" aria-hidden="true"></i><p style="display: inline-block; margin-left: 10px"> Login</p></span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Identity/Account/register" class="nav-link">
                                    <span><i class="fa fa-registered" aria-hidden="true"></i><p style="display: inline-block; margin-left: 10px"> Register</p></span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/account/userlist" class="nav-link">
                                    <span><i class="fa fa-unlock-alt" aria-hidden="true"></i><p style="display: inline-block; margin-left: 13px"> Reset Password</p></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Identity/Account/ResendEmailConfirmation" class="nav-link">
                                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i><p style="display: inline-block; margin-left: 10px"> Resend Email</p></span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p style="font-size: 17px; font-weight: bold;">
                                M E N U
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="jobs" class="nav-link">
                                    <span>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <p style="display: inline-block; margin-left: 10px">
                                            Job
                                        </p>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="categories" class="nav-link">
                                    <span>
                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                        <p style="display: inline-block; margin-left: 10px">
                                            Category
                                        </p>
                                    </span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="profiles" class="nav-link">

                                    <span>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <p style="display: inline-block; margin-left: 10px">
                                            Profile
                                        </p>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/jobs/listjob" class="nav-link">
                                    <span>
                                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                        <p style="display: inline-block; margin-left: 10px">
                                            List Jobs
                                        </p>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/createrole" class="nav-link">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                                            <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z" />
                                            <path d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                        <p style="display: inline-block; margin-left: 10px">
                                            Create Role
                                        </p>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/account/setrole" class="nav-link">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-plus" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m-.5 5a.5.5 0 0 1 1 0v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5z" />
                                        </svg>
                                        <p style="display: inline-block; margin-left: 10px">
                                            Set Role
                                        </p>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Son of the bright -->
                    @RenderBody()

                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer style="padding-top: 20px;" class="main-footer">
            <div style="padding-top: 20px; display: flex; justify-content: center;" class="col-md-12">
                <section id="topbar" class="d-flex align-items-center">
                    <div class="container d-flex justify-content-center justify-content-md-between">
                        <div class="social-links d-none d-md-block">
                            <style>
                                .social-links a {
                                    font-size: 30px;
                                    margin-right: 30px;
                                }

                                .social-links a {
                                    display: inline-flex;
                                    align-items: baseline;
                                }

                                    .social-links a i {
                                        margin-right: 7px;
                                    }

                                    .social-links a span {
                                        font-size: 15px;
                                        color: black;
                                    }

                                .text-center p {
                                    margin: 10px 0;
                                    font-size: 20px;
                                }
                            </style>

                            <a href="#" class="twitter">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                <span>FPT Group</span>
                            </a>

                            <a href="#" class="facebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <span>FPT Job Match Company</span>
                            </a>

                            <a href="#" class="instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <span>FPT Job Match</span>
                            </a>

                            <a href="#" class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>+82-8347-2441</span>
                            </a>

                            <a href="#" class="email">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span>FptJobMatch@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
