@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div style="text-align: center;">
    <h1 style="font-weight: bold; font-size: 50px; text-decoration: none; margin-bottom: 0; color: #000000;">Manage Account</h1>
</div>

<div class="card card-primary">
    <div class="card-body">
<div>
    <div class="row" style="top: 30px;">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
