@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: justify; text-justify: inter-word;">
    <h1 style="text-align: center; font-size: 4.0em; font-weight: bold; color: #999999; border-radius: 5px; padding: 10px; background-color: #f5f5f5;"> FPT Job Match Company </h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card rounded">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 17px; font-family: Arial, sans-serif;">
                            FPT Corporation is a leading technology company, specializing in providing comprehensive IT solutions and services. With over 30 years of experience in the industry, we have built a solid reputation in this field.
                        </p>
                        <p class="card-text" style="font-size: 17px; font-family: 'Roboto Rounded', sans-serif;">
                            At FPT, our goal is to recruit talented and passionate individuals to meet the increasing demands of our clients. We believe that our employees are our most valuable assets, and we always strive to create favorable conditions for their development and advancement in their careers.
                        </p>
                        <p class="card-text" style="font-size: 17px; font-family: 'Roboto Rounded', sans-serif;">
                            With a diverse, innovative, and exciting work environment, FPT encourages employees to contribute new ideas and innovations. We place a strong emphasis on training and career development, providing in-depth training programs and clear career guidance.
                        </p>
                        <p class="card-text" style="font-size: 17px; font-family: 'Roboto Rounded', sans-serif;">
                            FPT offers attractive job opportunities in various fields such as software development, project management, information systems, cybersecurity, and many other technology domains. We are committed to ensuring a professional, fair, and respectful working environment that upholds ethical and disciplinary standards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div style="text-align: justify; text-justify: inter-word;">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card rounded h-100">
                        <img src="https://salestechstar.com/wp-content/uploads/2022/01/FPT-Software-Recognized-in-2021-Gartner-Peer-Insights-%E2%80%98Voice-of-the-Customer-Robotic-Process-Automation.jpg" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h1>Technology</h1>
                            <p class="card-text">
                                FPT plays a crucial role as an influential strategic partner in the realm of consulting, development, training, and implementation of digital transformation initiatives for esteemed corporations and organizations, not only in Vietnam but also globally. FPT has established itself as a trusted advisor to numerous industry-leading entities, guiding them through the complex process of digital transformation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card rounded h-100">
                        <img src="https://lh3.googleusercontent.com/proxy/93pHmEmT9DiqhROPQYuJ7VxzcZ7htr28zgA8P1ujXJVHLY9FVNrGyqcx9nEKTqTmXC6020EmoC_biAPZPx5VMcqVtAuHxo4BL0iBX-RDSS_08ewjuH5CNJtcPDOQkxA_kneqb3Jw1uXNEOdCUI1Hru7t" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h1>Member Companies</h1>
                            <p class="card-text">
                                FPT's ecosystem thrives on the active engagement and collaboration of a diverse range of member companies, each possessing unique business characteristics. These member companies play a pivotal role in shaping and enhancing the overall strength and capabilities of FPT as a leading technology corporation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
