@model FPTJOB.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card card-secondary">
        <div class="card-header">
            <center>
                <h1><i><u>Delete Category</u></i></h1>
            </center>
        </div>
    </div>

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-2">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
            </div>
            <div class="col-sm-10">
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="col-sm-2">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
            </div>
            <div class="col-sm-10">
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin-top: 20px;">
    <div class="col-md-6">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>