@page
@model LogoutModel
t
<div style="width: 300px; margin-left: auto; margin-right: auto;">
    <h1>  <i> <u> LOG OUT </u> </i> </h1>
</div>
<br />

<header>

    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <div style="width: 300px; margin-left: auto; margin-right: auto;">
            <form class="form-inline logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button class="btn btn-danger" type="submit">Click here to Logout</button>
            </form>
            </div>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
