@model FPTJOB.Models.Job

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top: 20px;" class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div style="padding-top: 20px;" class="col-md-12">

            <div style="text-align: center;">
                <h1 style="font-weight: bold; font-size: 50px; text-decoration: none; margin-bottom: 0; color: #f2721e;"> Create Job</h1>
            </div>

        </div>

  
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <!-- Added offset-md-4 class to center the column -->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry" class="control-label"></label>
                    <input asp-for="Industry" class="form-control" />
                    <span asp-validation-for="Industry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Requirement" class="control-label"></label>
                    <input asp-for="Requirement" class="form-control" />
                    <span asp-validation-for="Requirement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div style="display: flex; justify-content: center;">
                    <div style="margin: 40px;">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div style="margin: 40px;">
                        <a class="btn btn-danger" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}